@model NewTrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.PickUpFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.PickUpFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestartPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestartPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
