@model NewTrashCollector.Models.Customer

@{
    ViewBag.Title = "EmployeeHome";
}


<div>
    <h1>Employee Portal</h1>


</div>


<div class="row">
    <div class="col-md-4">
        <h2>Review Pick-Ups</h2>
        <p>

        </p>
        @Html.ActionLink("Mon", "MapMonday", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        @Html.ActionLink("Tue", "MapTuesday", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        @Html.ActionLink("Wed", "MapWednesday", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        @Html.ActionLink("Thu", "MapThursday", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        @Html.ActionLink("Fri", "MapFriday", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    <div class="col-md-4">
        <h2>Review Customers</h2>
        <p>

        </p>
        @Html.ActionLink("Customer List", "Index", "Customers", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    <div class="col-md-4">
        <h2>Invoices</h2>
        <p>

        </p>
        @Html.ActionLink("Create Invoices", "Create", "Invoices", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        @Html.ActionLink("Review Invoices", "Index", "Invoices", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    @*<div class="col-md-3">
            <h2>Have a Question?</h2>
            <p>

            </p>
            @Html.ActionLink("Create Invoice", "Create", "Invoices", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        </div>*@
</div>


