@model IEnumerable<NewTrashCollector.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Invoice Due</h2>

 
<p>
    @if (User.IsInRole("Employee"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicePaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicePaid)
        </td>
        <td>
            @if (User.IsInRole("Employee"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceId }) 
            }

            @if (User.IsInRole("Customer"))
            {
                @Html.ActionLink("Make Deposit", "PaymentMade", "Customers", new { area = "" }, new { @class = "btn btn-primary btn-md" })
            }
        </td>
    </tr>
}

</table>
